#quest-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    color: goldenrod;
}

body {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 150%;
    color: teal;
}

button {
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

p {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}

input[type=radio]:checked + img {
    border: 3px solid teal;
}

input[type=radio]{
    display: none;
}