#quest-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
}

body {
    text-align: center;
}

button {
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

p {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}