#map-links {
    display: flex;
    flex-direction: column;
    font-family: 'Shrikhand', cursive;
    gap: 20px;
    font-size: 150%;
    color:goldenrod;
}

.links {
    display: block;
    flex-direction: column;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    gap: 20px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: teal;
    text-align: center;
    font-size: 300%;
}

#user-image {
    width:50px;
}

#user-name, #user-hygiene, #user-money {
    font-family: 'Shrikhand', cursive;
    display: flex;
    flex-direction: column;
}

#profile {
    text-align: center;
    color: goldenrod;
}